/* --------------------------------
Stretchy Nav style - common to:
 - basic navigation
 - add-content navigation
 - edit-content navigation
-------------------------------- */
.menu-item-icon {
    /* navigation item icons */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    right: 22px;
    top: 50%;
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: .6;
    color: white;
}

/* Navigation */
.stretchy-navigation.nav-is-visible .menu-item-icon {
    /* navigation item icons */
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-animation: scaleIn 0.15s backwards;
    -moz-animation: scaleIn 0.15s backwards;
    animation: scaleIn 0.15s backwards;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.menu-item-icon:hover {
    opacity: 1;
}

.stretchy-navigation.nav-is-visible .menu-item-icon.active {
    opacity: 1;
}

/*Add content*/
.stretchy-navigation.add-content .menu-item-icon {
    top: 50%;
    left: 22px;
    right: auto;
    height: 16px;
    width: 16px;
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
}

.stretchy-navigation.add-content.nav-is-visible .menu-item-icon {
    -webkit-animation-name: scaleIn;
    -moz-animation-name: scaleIn;
    animation-name: scaleIn;
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}

/* Edit Icons */
.stretchy-navigation.edit-content .menu-item-icon {
    right: 7px;
    height: 16px;
    width: 16px;
}

/* --------------------------------

keyframes

-------------------------------- */
@-webkit-keyframes scaleIn {
    from {
        -webkit-transform: translateY(-50%) scale(0);
    }
    to {
        -webkit-transform: translateY(-50%) scale(1);
    }
}

@-moz-keyframes scaleIn {
    from {
        -moz-transform: translateY(-50%) scale(0);
    }
    to {
        -moz-transform: translateY(-50%) scale(1);
    }
}

@keyframes scaleIn {
    from {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
    }
    to {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
    }
}

@-webkit-keyframes slideIn {
    from {
        opacity: 0;
        -webkit-transform: translateX(-25px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes slideIn {
    from {
        opacity: 0;
        -moz-transform: translateX(-25px);
    }
    to {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        -webkit-transform: translateX(-25px);
        -moz-transform: translateX(-25px);
        -ms-transform: translateX(-25px);
        -o-transform: translateX(-25px);
        transform: translateX(-25px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
